$color-white: #fff;
$mainBlueColor: rgba(0, 123, 255, 0.6);

@font-face{
    font-family: 'The Girl Next Door';
    src: url('/static/fonts/TheGirlNextDoor.ttf');
    font-weight: normal;
    font-style: normal;
}

a{
    font-family: 'The Girl Next Door', 'Comic Sans MS';
    font-size: 25px;
    line-height: 5px;
    word-spacing: 1px;
    margin-right: 1em;
}

.self-typed{
    font-size: 25px;
}

nav{
    z-index: 100;
    background: $mainBlueColor;
}

.index-component{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    .background{
        display: flex;
        flex-direction: row;
   align-items: center;
   justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 56px;
        left: 0;
        -webkit-filter: opacity(.8);
        filter: opacity(.8);
        background-image: url(/static/images/codergirl.jpg);
        background-position: center right;
        background-size: cover;
        z-index: 1;
        .index-style{
            background-color: $mainBlueColor;
            color: $color-white;
            width: max-content;
            margin: 0 auto;
        }
    }
}

.wrapped-component{
    margin-top: 5em;
    .row{
        margin-left: 0;
        margin-right: 0;
    }
}